{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "indentation": 2,
    "number-leading-zero": null,
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]
    }],
    "unit-whitelist": ["em", "rem", "s", "px", "%", "deg", "dpi", "dppx"]
  }
}
